{% extends 'base.html' %}
{% block content %}
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">Job Posting</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item"><a href="{{ url_for('index') }}">Main</a></li>
                <li class="breadcrumb-item active">Job Posting</li>
            </ol>
            <!-- <div class="card mb-4">
                <div class="card-body">
                    DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the
                    <a target="_blank" href="https://datatables.net/">official DataTables documentation</a>
                    .
                </div>
            </div> -->
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    Job Posting
                </div>
                <div class="card-body">
                    <table id="datatablesSimple">
                        <thead>
                            <tr>
                                <th>Company</th>
                                <th>Title</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Company</th>
                                <th>Title</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            {% for source in sources %}
                            <tr>
                                <td>{{ source['company'] }}</td>
                                <td><a target="_blank" href="{{ source['url'] }}">{{ source['title'] }}</a></td>
                                <td class="hidden-col">{{ source['contents'] }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
{% endblock %}